<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controller</title>
</head>
<body>
	<button type="button" style="color: #fff; background:blue; font-size:3em; border-radius:0.5em; padding:10px 20px;" onclick="location.href='/move/forward'"> 전 </button>
	<button type="button" style="color: #fff; background:blue; font-size:3em; border-radius:0.5em; padding:10px 20px;" onclick="location.href='/move/backward'"> 후 </button>
	<button type="button" style="color: #fff; background:blue; font-size:3em; border-radius:0.5em; padding:10px 20px;" onclick="location.href='/move/left'"> 좌 </button>
	<button type="button" style="color: #fff; background:blue; font-size:3em; border-radius:0.5em; padding:10px 20px;" onclick="location.href='/move/right'"> 우 </button>
</body>
</html>
